---
import Layout from "../layouts/BlogPost.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseHead from "../components/BaseHead.astro";
import { basics } from "../JSON/Datos.json";

const { historia, mision, vision } = basics;
---

<!doctype html>
<html lang="es">
 <head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image" href="/iconoWeb.webp" />
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
 </head>
 <body>
  <div class="componente">
   <Layout
    title="Hablemos sobre nosotros . . ."
    description="Este es nuestro sitio web!"
    heroImage="/Empresa.png"
   >
    <!-- <img class="hero" src="/Empresa.png" alt="Hero image" />	 -->

    <h3 class="titulo">Nuestra historia:</h3>
    <p>
     {historia}
    </p>

    <h3>Nuestra Misión:</h3>
    <p>
     {mision}
    </p>

    <h3>Nuestra Visión:</h3>
    <p>
     {vision}
    </p>
   </Layout>

   <style>
    .componente {
     padding-top: 1rem;
    }

    @media (max-width: 420px) {
     .componente {
      padding-top: 2rem;
     }
    }
   </style>
  </div>
 </body>
</html>
